force-app/main/default/flows/After_Create_Update_Direccion.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>set</name>
        <label>set_</label>
        <locationX>138</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>loop_EnergiaActualDeLead.DireccioDeEntrega__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>list_EnergiaActualToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_EnergiaActualDeLead</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_EnergiaActualDeLead</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Evaluar_Direcciones_existentes</name>
        <label>Evaluar Direcciones existentes</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>GetAccount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Existen Direcciones previamente</defaultConnectorLabel>
        <rules>
            <name>Primera_Direcci_n_Entrega</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_DireccionesCuenta</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_LeadRelacionadoCuenta</targetReference>
            </connector>
            <label>Primera Dirección Entrega</label>
        </rules>
    </decisions>
    <decisions>
        <name>Ha_cambiado_Actividad</name>
        <label>Ha cambiado Actividad</label>
        <locationX>622</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>GetAccount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si_HaCambiado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Actividad_1__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Actividad_1__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_RegistrosEnergiaActual</targetReference>
            </connector>
            <label>Si_HaCambiado</label>
        </rules>
    </decisions>
    <decisions>
        <description>Evaluar si el registro es nuevo o una actualización</description>
        <name>RegistroNuevo</name>
        <label>Registro nuevo?</label>
        <locationX>402</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Ha_cambiado_Actividad</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No_AcutalizacionRegistro</defaultConnectorLabel>
        <rules>
            <name>Si_RegistroNuevo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_DireccionesCuenta</targetReference>
            </connector>
            <label>Si_RegistroNuevo</label>
        </rules>
    </decisions>
    <description>01/2024: LCS-JCB Modificación se añade procedimiento para Energías Actuales y Direcciones de Entrega
04/2024: LCS-JCB Modificación se gestión de modificación Actividad, para asignar el mismo valor a todos los registros de Energía Actual</description>
    <environments>Default</environments>
    <formulas>
        <description>Formula tipo Booleana,  devuelve true si el registro se esta insertando y false en el caso de ser una actualización</description>
        <name>formula_isNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>After_Create_Update_Direccion {!$Flow.CurrentDateTime}</interviewLabel>
    <label>After Create Update Direcci_n_de_entrega</label>
    <loops>
        <description>Iteración de los registros de Energía Actual relacionados al Lead</description>
        <name>loop_EnergiaActualDeLead</name>
        <label>loop_EnergiaActualDeLead</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <collectionReference>get_EnergiaActualDeLeadRelacionado</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>set</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>update_EnergiaActualList</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Obtención de las Direcciones de Entrega relacionada a la Cuenta</description>
        <name>get_DireccionesCuenta</name>
        <label>get_DireccionesCuenta</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Evaluar_Direcciones_existentes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>cuenta__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.cuenta__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Direcci_n_de_entrega__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Obtención de los registros de Energías Actuales del Lead relacionado a la Cuenta.</description>
        <name>get_EnergiaActualDeLeadRelacionado</name>
        <label>get_EnergiaActualDeLeadRelacionado</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_EnergiaActualDeLead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Candidato__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_LeadRelacionadoCuenta.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Candidato__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Energia_Actual__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Obtención del Lead relacionado a la Cuenta (en caso de haber sido convertido)</description>
        <name>get_LeadRelacionadoCuenta</name>
        <label>get_LeadRelacionadoCuenta</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_EnergiaActualDeLeadRelacionado</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ConvertedAccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.cuenta__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetAccount</name>
        <label>Get Account</label>
        <locationX>402</locationX>
        <locationY>1439</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Actualizar_Direcci_n_de_Entrega</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.cuenta__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Actualizar_Direcci_n_de_Entrega</name>
        <label>Actualizar Dirección de Entrega</label>
        <locationX>402</locationX>
        <locationY>1547</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.cuenta__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Alerta_Bloqueo__c</field>
            <value>
                <elementReference>$Record.Alerta_Bloqueo_Cuenta__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Saldo_pendiente__c</field>
            <value>
                <elementReference>$Record.Saldo_pendiente_Cuenta__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Saldo_vivo__c</field>
            <value>
                <elementReference>$Record.Saldo_vivo_Cuenta__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <description>Actualización de registros de Energía Actual.</description>
        <name>update_EnergiaActualList</name>
        <label>update_EnergiaActualList</label>
        <locationX>50</locationX>
        <locationY>1163</locationY>
        <connector>
            <targetReference>GetAccount</targetReference>
        </connector>
        <inputReference>list_EnergiaActualToUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_RegistrosEnergiaActual</name>
        <label>update_RegistrosEnergiaActual</label>
        <locationX>490</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>GetAccount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DireccioDeEntrega__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Actividad__c</field>
            <value>
                <elementReference>$Record.Actividad_1__c</elementReference>
            </value>
        </inputAssignments>
        <object>Energia_Actual__c</object>
    </recordUpdates>
    <start>
        <locationX>276</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>RegistroNuevo</targetReference>
        </connector>
        <object>Direcci_n_de_entrega__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>Colección de registros de Energía Actual de Lead que se relacionaran con la Cuenta.</description>
        <name>list_EnergiaActualToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Energia_Actual__c</objectType>
    </variables>
</Flow>
