force-app/main/default/flows/ApprovalRequestRejest.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <description>Comprueba si el usuario que est치 pulsando el bot칩n tiene permisos para aprobar el registro</description>
        <name>PermisionApproverDecision</name>
        <label>PermisionApproverDecision</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Mensaje_de_error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>PermissionYes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GetRequestApproval.ApproverCurrentUser__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Administrador del sistema</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RejectDescriptionScreen</targetReference>
            </connector>
            <label>Tiene Permiso</label>
        </rules>
    </decisions>
    <description>Rechazo de la solicitud</description>
    <environments>Default</environments>
    <interviewLabel>ApprovalRequestRejest {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ApprovalRequestRejest</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetRequestApproval</name>
        <label>Busco la solicitud</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PermisionApproverDecision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ApprovalRequest__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Rechazo de solicitud</description>
        <name>UpdateApprovalRequestReject</name>
        <label>UpdateApprovalRequestReject</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Comments__c</field>
            <value>
                <elementReference>RejectDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Resolution__c</field>
            <value>
                <stringValue>Rechazado</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Desestimado</stringValue>
            </value>
        </inputAssignments>
        <object>ApprovalRequest__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Mensaje_de_error</name>
        <label>Mensaje de error</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>MensajedeErrorTexto</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;No tiene permisos para realizar esta acci칩n&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Pantalla de rechazo</description>
        <name>RejectDescriptionScreen</name>
        <label>RejectDescriptionScreen</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>UpdateApprovalRequestReject</targetReference>
        </connector>
        <fields>
            <name>RejectDescription</name>
            <fieldText>Descripci칩n de Rechazo</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetRequestApproval</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Id de la solicitud</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
