force-app/main/default/flows/BeforeInsertUpdate_EnergiaActual.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <decisions>
        <description>Evaluación si se ha rellenado los campos Actividad y Uso.</description>
        <name>ActividadUso_relleno</name>
        <label>ActividadUso_relleno?</label>
        <locationX>446</locationX>
        <locationY>503</locationY>
        <defaultConnector>
            <targetReference>getRelatedLead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si_rellenos</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Actividad__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Uso__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Si_rellenos</label>
        </rules>
    </decisions>
    <decisions>
        <description>Evaluación sobre el registro desencadenante, si se trata de</description>
        <name>isInserrt</name>
        <label>isInserrt?</label>
        <locationX>776</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si_isInsert</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isNewRecord</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lead_o_DireccionEntrega</targetReference>
            </connector>
            <label>Si_isInsert</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lead_o_DireccionEntrega</name>
        <label>Lead o DirecciónEntrega</label>
        <locationX>446</locationX>
        <locationY>395</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>DireccionEntrega</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DireccioDeEntrega__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_DireccionEntrega</targetReference>
            </connector>
            <label>DireccionEntrega</label>
        </rules>
        <rules>
            <name>Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Candidato__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ActividadUso_relleno</targetReference>
            </connector>
            <label>Lead</label>
        </rules>
    </decisions>
    <description>Trigger flow para before insert / before update sobre el objeto Energía Actual.
 LCS - JCB 03/2024: Creación.</description>
    <environments>Default</environments>
    <formulas>
        <description>Indica si el registro desencadenante es nuevo.</description>
        <name>isNewRecord</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>BeforeInsertUpdate_EnergiaActual {!$Flow.CurrentDateTime}</interviewLabel>
    <label>BeforeInsertUpdate_EnergiaActual</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_DireccionEntrega</name>
        <label>get_DireccionEntrega</label>
        <locationX>50</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>update_Actividad</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.DireccioDeEntrega__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Direcci_n_de_entrega__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Obtención del Lead relacionado al registro actual.</description>
        <name>getRelatedLead</name>
        <label>getRelatedLead</label>
        <locationX>578</locationX>
        <locationY>611</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>updateEnergiaActual</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Candidato__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_Actividad</name>
        <label>update_Actividad</label>
        <locationX>50</locationX>
        <locationY>611</locationY>
        <inputAssignments>
            <field>Actividad__c</field>
            <value>
                <elementReference>get_DireccionEntrega.Actividad_1__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateEnergiaActual</name>
        <label>updateEnergiaActual</label>
        <locationX>578</locationX>
        <locationY>719</locationY>
        <inputAssignments>
            <field>Actividad__c</field>
            <value>
                <elementReference>getRelatedLead.Actividad__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Uso__c</field>
            <value>
                <elementReference>getRelatedLead.Uso__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>650</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>isInserrt</targetReference>
        </connector>
        <object>Energia_Actual__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>var_UsoValueLead</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
