force-app/main/default/flows/Cerrar_Caso.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Asignar_valor_cerrado</name>
        <label>Asignar valor cerrado</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>Caso.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cerrado</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Caso.FCR__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FCR</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Cerrar_caso</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>save_result</name>
        <label>Guardar resultado</label>
        <locationX>314</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>isSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <choices>
        <name>Closed_Val</name>
        <choiceText>Cerrado</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cerrado</stringValue>
        </value>
    </choices>
    <choices>
        <name>Solution</name>
        <choiceText>Solución</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>solution</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Caso_cerrado</name>
        <label>¿Caso cerrado?</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Solution_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>SI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Caso.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Caso_cerrado_Screen</targetReference>
            </connector>
            <label>SI</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Reason</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Reason</picklistField>
        <picklistObject>Case</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Cerrar Caso {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Cerrar Caso</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>New_Solution</name>
        <label>Crear Solución</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>Asignar_valor_cerrado</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Mensaje_Fallo</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Caso__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Solucion__c</field>
            <value>
                <elementReference>Solution_RichText.value</elementReference>
            </value>
        </inputAssignments>
        <object>Solucion__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Obtener_caso</name>
        <label>Obtener caso</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Caso_cerrado</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>Caso</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>IsClosed</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Cerrar_caso</name>
        <label>Cerrar caso</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>save_result</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Mensaje_Fallo</targetReference>
        </faultConnector>
        <inputReference>Caso</inputReference>
    </recordUpdates>
    <screens>
        <name>Caso_cerrado_Screen</name>
        <label>Caso cerrado</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Closed_Comment_Var</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;{!$Label.CaseAlreadyClosed}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Mensaje_Fallo</name>
        <label>Mensaje_Fallo</label>
        <locationX>578</locationX>
        <locationY>878</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Fault_Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Solution_Screen</name>
        <label>Solucion</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>New_Solution</targetReference>
        </connector>
        <fields>
            <name>Status</name>
            <choiceReferences>Closed_Val</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Closed_Val</defaultSelectedChoiceReference>
            <fieldText>Estado</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>FCR</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>Caso.FCR__c</elementReference>
            </defaultValue>
            <fieldText>FCR</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Solution_RichText</name>
            <extensionName>c:richTextArea</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>requiredMessage</name>
                <value>
                    <stringValue>⚠️ La solución es requerida</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Solución</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>placeholder</name>
                <value>
                    <stringValue>Escriba la solución del caso</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Obtener_caso</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>Caso</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>isSuccess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
