force-app/main/default/flows/ClaimQuoteForEdition.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Unlock_Quote</name>
        <label>Unlock_Quote</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <actionName>ApprovalRequestUnlockActionManager</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>SCR_Success</targetReference>
        </connector>
        <faultConnector>
            <targetReference>SCR_Error</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>quoteIds</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ApprovalRequestUnlockActionManager</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Claim Quote for Edition {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Claim Quote for Edition</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>SCR_Confirmation</name>
        <label>SCR_Confirmation</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Unlock_Quote</targetReference>
        </connector>
        <fields>
            <name>MSG_Confirmation</name>
            <fieldText>&lt;p&gt;La oferta volverá al estado &lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;Borrador&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt; y se eliminarán todas las solicitudes pendientes de aprobación. ¿Desea continuar?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SCR_Error</name>
        <label>SCR_Error</label>
        <locationX>440</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>MSG_Error</name>
            <fieldText>&lt;p&gt;Ha habido un error al actualizar la oferta. Por favor, contacte con un adminstrador o vuelva a intentarlo mas tarde.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SCR_Success</name>
        <label>SCR_Success</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>MSG_Success</name>
            <fieldText>&lt;p&gt;La oferta se ha actualizado correctamente.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>SCR_Confirmation</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
