force-app/main/default/flows/Create_Contract.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>ShowToast</name>
        <label>Show Toast</label>
        <locationX>176</locationX>
        <locationY>878</locationY>
        <actionName>c:DisplayToastOnFlow</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>c:DisplayToastOnFlow</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <dynamicChoiceSets>
        <name>Valores</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Duraci_n_del_contrato_a_os__c</picklistField>
        <picklistObject>Contract</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ValoresConsumo</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Perfil_de_consumo__c</picklistField>
        <picklistObject>Contract</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ValoresFormaPago</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Cod_forma_pago_servicios__c</picklistField>
        <picklistObject>Contract</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ValoresResidencia</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Tipo_residencia__c</picklistField>
        <picklistObject>Contract</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ValoresTermCode</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Reminder_terms_code__c</picklistField>
        <picklistObject>Contract</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ValoresTerminos</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Cod_terminos_pago_servicios__c</picklistField>
        <picklistObject>Contract</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Create Contract {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Contract</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CrearContrato</name>
        <label>Crear Contrato</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>ShowToast</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>AccountId.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>BillingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <elementReference>BillingCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>BillingZipPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState</field>
            <value>
                <elementReference>BillingStateProvince</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>BillingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CIF__c</field>
            <value>
                <elementReference>CIF</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Canalizado_promotor__c</field>
            <value>
                <elementReference>CanalizadoPromotor.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cod_forma_pago_servicios__c</field>
            <value>
                <elementReference>CodFormaPagoServicios</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cod_terminos_pago_servicios__c</field>
            <value>
                <elementReference>CodTerminosPagoServicios</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CompanySignedId</field>
            <value>
                <elementReference>CompanySignedBy.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Consumo_previsto_tons__c</field>
            <value>
                <elementReference>ConsumoContrato</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contrato_original_recibido__c</field>
            <value>
                <elementReference>ContratoOriginalRecibido</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CustomerSignedDate</field>
            <value>
                <elementReference>CustomerSignedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CustomerSignedId</field>
            <value>
                <elementReference>CustomerSignedId.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Direccion_de_entrega__c</field>
            <value>
                <elementReference>GetDireccionEntrega.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Duraci_n_del_contrato_a_os__c</field>
            <value>
                <elementReference>DuracionDelContrato</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fecha_fin_contrato__c</field>
            <value>
                <elementReference>FechaFinContrato</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IBAN__c</field>
            <value>
                <elementReference>IBAN</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Importe_SAU__c</field>
            <value>
                <elementReference>ImporteSAU</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Importe_alquiler_contador__c</field>
            <value>
                <elementReference>ImporteAlquilerContador</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Importe_derechos_acometida__c</field>
            <value>
                <elementReference>ImporteDerechosAcometida</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Importe_derechos_de_alta__c</field>
            <value>
                <elementReference>ImporteDerechosDeAlta</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Importe_gesti_n_contrato__c</field>
            <value>
                <elementReference>ImporteGestionContrato</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Importe_t_rmino_fijo__c</field>
            <value>
                <elementReference>ImporteTerminoFijo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>N_Cliente_anterior__c</field>
            <value>
                <elementReference>NClienteAnterior</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>N_fax__c</field>
            <value>
                <elementReference>NFax</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>N_telefono__c</field>
            <value>
                <elementReference>TelefonoPrincipal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>N_telefono_movil__c</field>
            <value>
                <elementReference>TelefonoSecundario</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OldCustomerNavCode__c</field>
            <value>
                <elementReference>GetDireccionEntrega.OldNavisionId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OldShiptoCode__c</field>
            <value>
                <elementReference>GetDireccionEntrega.Id_Navision__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Perfil_de_consumo__c</field>
            <value>
                <elementReference>PerfilDeConsumo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>GetRecordType.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reminder_terms_code__c</field>
            <value>
                <elementReference>ReminderTermsCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SpecialTerms</field>
            <value>
                <elementReference>SpecialTerm</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>ContractStartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tarifa__c</field>
            <value>
                <elementReference>Tarifa.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_residencia__c</field>
            <value>
                <elementReference>TipoDeResidencia</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>e_mail__c</field>
            <value>
                <elementReference>Email.value</elementReference>
            </value>
        </inputAssignments>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>GetDireccionEntrega</name>
        <label>GetDireccionEntrega</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetInfoContact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>cuenta__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Direcci_n_de_entrega__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetInfo</name>
        <label>GetInfo</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetDireccionEntrega</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetInfoContact</name>
        <label>GetInfoContact</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetRecordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRecordType</name>
        <label>GetRecordType</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Nuevo_contrato_cambio_de_titular</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Poliza</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Nuevo_contrato_cambio_de_titular</name>
        <label>Nuevo contrato cambio de titular</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CrearContrato</targetReference>
        </connector>
        <fields>
            <name>Datos_de_contacto</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Datos de contacto&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Nuevo_contrato_cambio_de_titular_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Nuevo_contrato_cambio_de_titular_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CustomerSignedId</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>CustomerSignedId</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Contract</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Customer Signed by</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>GetInfoContact.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>AccountId</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>AccountId</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Contract</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Cuenta</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>recordId</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>TelefonoPrincipal</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>GetInfo.Phone</elementReference>
                    </defaultValue>
                    <fieldText>Teléfono principal</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>NFax</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>GetInfoContact.Fax</elementReference>
                    </defaultValue>
                    <fieldText>Nº Fax</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Nuevo_contrato_cambio_de_titular_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CIF</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>GetInfo.Id_Fiscal__c</elementReference>
                    </defaultValue>
                    <fieldText>CIF</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>TelefonoSecundario</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>GetInfoContact.MobilePhone</elementReference>
                    </defaultValue>
                    <fieldText>Teléfono secundario</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Email</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>GetInfo.E_mail__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>CustomerSignedDate</name>
                    <dataType>Date</dataType>
                    <fieldText>Customer signed date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>ContratoOriginalRecibido</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Contrato original recibido</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Datosdepoliza</name>
            <fieldText>&lt;h3&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Datos de póliza&lt;/b&gt;&lt;/h3&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Nuevo_contrato_cambio_de_titular_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Nuevo_contrato_cambio_de_titular_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ImporteGestionContrato</name>
                    <dataType>Number</dataType>
                    <fieldText>Importe gestión contrato</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>ImporteSAU</name>
                    <dataType>Number</dataType>
                    <fieldText>Importe SAU</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>ImporteTerminoFijo</name>
                    <dataType>Number</dataType>
                    <fieldText>Importe término fijo</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>ImporteDerechosAcometida</name>
                    <dataType>Number</dataType>
                    <fieldText>Importe derechos acometida</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Nuevo_contrato_cambio_de_titular_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ImporteAlquilerContador</name>
                    <dataType>Number</dataType>
                    <fieldText>Importe alquiler contador</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>ImporteDerechosDeAlta</name>
                    <dataType>Number</dataType>
                    <fieldText>Importe derechos de alta</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>CanalizadoPromotor</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Canalizado_promotor__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Canalizado promotor</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Contract</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>DirecciondeEntrega</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Dirección de entrega&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DireccionDeEntregaLoo</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Direccion_de_entrega__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Dirección de entrega</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Contract</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>GetDireccionEntrega.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>InformacionDireccion</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Información de dirección&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Nuevo_contrato_cambio_de_titular_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Nuevo_contrato_cambio_de_titular_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>BillingStreet</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>GetInfo.Calle_Facturacion__c</elementReference>
                    </defaultValue>
                    <fieldText>Billing Street</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>BillingCountry</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>GetInfo.Poblacion_Facturacion__c</elementReference>
                    </defaultValue>
                    <fieldText>Billing Country</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>BillingCity</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>GetInfo.Provincia__c</elementReference>
                    </defaultValue>
                    <fieldText>Billing City</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Nuevo_contrato_cambio_de_titular_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>BillingZipPostalCode</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>GetInfo.Codigo_Postal__c</elementReference>
                    </defaultValue>
                    <fieldText>Billing Zip/Postal Code</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>BillingStateProvince</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>GetInfo.Provincia__c</elementReference>
                    </defaultValue>
                    <fieldText>Billing State/Province</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Consumoyduracion</name>
            <fieldText>&lt;h3&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Consumo y duración&lt;/b&gt;&lt;/h3&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Nuevo_contrato_cambio_de_titular_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Nuevo_contrato_cambio_de_titular_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ContractStartDate</name>
                    <dataType>Date</dataType>
                    <fieldText>Contract Start Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>FechaFinContrato</name>
                    <dataType>Date</dataType>
                    <fieldText>Fecha fin contrato</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Nuevo_contrato_cambio_de_titular_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DuracionDelContrato</name>
                    <choiceReferences>Valores</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>1</stringValue>
                    </defaultValue>
                    <fieldText>Duración del contrato (años)</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>ConsumoContrato</name>
                    <dataType>Number</dataType>
                    <fieldText>Consumo Contratado</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Condicionesdepago</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Condiciones de pago&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Nuevo_contrato_cambio_de_titular_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Nuevo_contrato_cambio_de_titular_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>IBAN</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>GetInfo.IBAN__c</elementReference>
                    </defaultValue>
                    <fieldText>IBAN</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>CodTerminosPagoServicios</name>
                    <choiceReferences>ValoresTerminos</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>CANALIZADO</stringValue>
                    </defaultValue>
                    <fieldText>Cod. terminos pago servicios</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Nuevo_contrato_cambio_de_titular_Section5_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CodFormaPagoServicios</name>
                    <choiceReferences>ValoresFormaPago</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>RECIBO</stringValue>
                    </defaultValue>
                    <fieldText>Cod. forma pago servicios</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>ReminderTermsCode</name>
                    <choiceReferences>ValoresTermCode</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>30</stringValue>
                    </defaultValue>
                    <fieldText>Reminder terms code</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>TarifasGas</name>
            <fieldText>&lt;h3&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Tarifas Gas&lt;/b&gt;&lt;/h3&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Tarifa</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Tarifa__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Tarifa</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Contract</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>SuministroProducto</name>
            <fieldText>&lt;h3&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Suministro Producto&lt;/b&gt;&lt;/h3&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Nuevo_contrato_cambio_de_titular_Section6</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Nuevo_contrato_cambio_de_titular_Section6_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PerfilDeConsumo</name>
                    <choiceReferences>ValoresConsumo</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Perfil de consumo</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Nuevo_contrato_cambio_de_titular_Section6_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>TipoDeResidencia</name>
                    <choiceReferences>ValoresResidencia</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Tipo de residencia</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Condicionesespeciales</name>
            <fieldText>&lt;h3&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Condiciones especiales&lt;/b&gt;&lt;/h3&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SpecialTerm</name>
            <dataType>String</dataType>
            <fieldText>Special Terms</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Informaciondelsistema</name>
            <fieldText>&lt;h3&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Información del sistema&lt;/b&gt;&lt;/h3&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Nuevo_contrato_cambio_de_titular_Section7</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Nuevo_contrato_cambio_de_titular_Section7_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CompanySignedBy</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>CompanySignedId</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Company Signed By</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Contract</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Nuevo_contrato_cambio_de_titular_Section7_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>NClienteAnterior</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>GetDireccionEntrega.OldNavisionId__c</elementReference>
                    </defaultValue>
                    <fieldText>Nº Cliente anterior</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetInfo</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
