force-app/main/default/flows/Delivery_Address.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>ShowToast</name>
        <label>Show Toast</label>
        <locationX>50</locationX>
        <locationY>1118</locationY>
        <actionName>c:DisplayToastOnFlow</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>c:DisplayToastOnFlow</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <decisions>
        <name>ResultsHaveBeenFound</name>
        <label>Check if Delivery Address found?</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>DeliveryAddressNotFound</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Dirección de entrega not found</defaultConnectorLabel>
        <rules>
            <name>DeliveryAddressFoundDecision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ResultsOfSearch.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SaveRecord</targetReference>
            </connector>
            <label>Dirección de entrega encontrada</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Delivery Address {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Delivery Address</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateDeliveryAddress</name>
        <label>Crear Dirección de Entrega</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>Get_Info_Old_Account</targetReference>
        </connector>
        <inputAssignments>
            <field>Actividad_1__c</field>
            <value>
                <elementReference>ResultsOfSearch.Actividad_1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Actividad_2__c</field>
            <value>
                <elementReference>ResultsOfSearch.Actividad_2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bloqueado__c</field>
            <value>
                <elementReference>ResultsOfSearch.Bloqueado__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Boca_de_carga__c</field>
            <value>
                <elementReference>ResultsOfSearch.Boca_de_carga__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>C_digo_tarifa__c</field>
            <value>
                <elementReference>ResultsOfSearch.C_digo_tarifa__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Codigo_Postal__c</field>
            <value>
                <elementReference>ResultsOfSearch.Codigo_Postal__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Codigo__c</field>
            <value>
                <elementReference>ResultsOfSearch.Codigo__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Codigo_transportista__c</field>
            <value>
                <elementReference>ResultsOfSearch.Codigo_transportista__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comarca__c</field>
            <value>
                <elementReference>ResultsOfSearch.Comarca__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Consumo_previsto_Kgs__c</field>
            <value>
                <elementReference>ResultsOfSearch.Consumo_previsto_Kgs__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Deposito__c</field>
            <value>
                <elementReference>ResultsOfSearch.Deposito__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Direccion_2__c</field>
            <value>
                <elementReference>ResultsOfSearch.Direccion_2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Direccion__c</field>
            <value>
                <elementReference>ResultsOfSearch.Direccion__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Entrega_producto__c</field>
            <value>
                <elementReference>ResultsOfSearch.Entrega_producto__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Error_Sync__c</field>
            <value>
                <elementReference>ResultsOfSearch.Error_Sync__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estado__c</field>
            <value>
                <elementReference>ResultsOfSearch.Estado__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estado_boca_de_carga__c</field>
            <value>
                <elementReference>ResultsOfSearch.Estado_boca_de_carga__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estado_deposito__c</field>
            <value>
                <elementReference>ResultsOfSearch.Estado_deposito__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estado_telemedida__c</field>
            <value>
                <elementReference>ResultsOfSearch.Estado_telemedida__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fecha_1er_llenado__c</field>
            <value>
                <elementReference>ResultsOfSearch.Fecha_1er_llenado__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fecha_inactivo__c</field>
            <value>
                <elementReference>ResultsOfSearch.Fecha_inactivo__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fecha_ltimo_mantenimiento__c</field>
            <value>
                <elementReference>ResultsOfSearch.Fecha_ltimo_mantenimiento__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fecha_ultima_Sync__c</field>
            <value>
                <elementReference>ResultsOfSearch.Fecha_ultima_Sync__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Id_Navision__c</field>
            <value>
                <elementReference>ResultsOfSearch.Id_Navision__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Motivo_bloqueo__c</field>
            <value>
                <elementReference>ResultsOfSearch.Motivo_bloqueo__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OldAccount__c</field>
            <value>
                <elementReference>ResultsOfSearch.cuenta__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OldId__c</field>
            <value>
                <elementReference>ResultsOfSearch.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OldNavisionId__c</field>
            <value>
                <elementReference>ResultsOfSearch.cuenta__r.Id_Navision__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pais__c</field>
            <value>
                <elementReference>ResultsOfSearch.Pais__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pendiente_de_confirmar__c</field>
            <value>
                <elementReference>ResultsOfSearch.Pendiente_de_confirmar__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Poblacion__c</field>
            <value>
                <elementReference>ResultsOfSearch.Poblacion__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Precio__c</field>
            <value>
                <elementReference>ResultsOfSearch.Precio__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Precio_actual__c</field>
            <value>
                <elementReference>ResultsOfSearch.Precio_actual__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Producto__c</field>
            <value>
                <elementReference>ResultsOfSearch.Producto__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Propiedad_del_tanque__c</field>
            <value>
                <elementReference>ResultsOfSearch.Propiedad_del_tanque__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Propietario_del_tanque__c</field>
            <value>
                <elementReference>ResultsOfSearch.Propietario_del_tanque__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Provincia__c</field>
            <value>
                <elementReference>ResultsOfSearch.Provincia__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Agent_Code__c</field>
            <value>
                <elementReference>ResultsOfSearch.Shipping_Agent_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Telemedida__c</field>
            <value>
                <elementReference>ResultsOfSearch.Telemedida__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Temperatura_fija__c</field>
            <value>
                <elementReference>ResultsOfSearch.Temperatura_fija__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Territorio__c</field>
            <value>
                <elementReference>ResultsOfSearch.Territorio__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_de_camion__c</field>
            <value>
                <elementReference>ResultsOfSearch.Tipo_de_camion__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_de_direccion_de_envio__c</field>
            <value>
                <elementReference>ResultsOfSearch.Tipo_de_direccion_de_envio__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_de_entrega__c</field>
            <value>
                <elementReference>ResultsOfSearch.Tipo_de_entrega__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cuenta__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Direcci_n_de_entrega__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Info_Old_Account</name>
        <label>Get Info Old Account</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>NewAccount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ResultsOfSearch.cuenta__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>NewAccount</name>
        <label>NewAccount</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ResultsOfSearch</name>
        <label>Resultados de búsqueda</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ResultsHaveBeenFound</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>DeliveryAddressNotFound</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DeliveryCode</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Direcci_n_de_entrega__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>ShowToast</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ResultsOfSearch.cuenta__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Detalles_baja__c</field>
            <value>
                <elementReference>NewAccount.Id_Navision__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <screens>
        <name>DeliveryAddress</name>
        <label>Dirección de entrega</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ResultsOfSearch</targetReference>
        </connector>
        <fields>
            <name>DeliveryCode</name>
            <dataType>String</dataType>
            <fieldText>Introduzca el ID de la dirección de entrega del anterior cliente:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>DeliveryAddressNotFound</name>
        <label>Dirección de entrega no encontrada</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>AddressNotFoundInfo</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(255, 0, 0); font-size: 14px;&quot;&gt;¡Atencion!&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(255, 0, 0);&quot;&gt; &lt;/b&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;No se encontrado ninguna dirección de entrega con ese ID en Salesforce.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SaveRecord</name>
        <label>Información de la dirección de entrega</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CreateDeliveryAddress</targetReference>
        </connector>
        <fields>
            <name>infoText</name>
            <fieldText>&lt;p&gt;La dirección de entrega con ID &lt;b&gt;{!ResultsOfSearch.Name}&lt;/b&gt;, perteneciente a &lt;b&gt;{!ResultsOfSearch.cuenta__r.Name}&lt;/b&gt; se duplicará asociándose al cliente actual.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>DeliveryAddress</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Success</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>success</stringValue>
        </value>
    </variables>
    <variables>
        <name>SuccessMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Se ha creado una nueva dirección de entrega en el cliente actual.</stringValue>
        </value>
    </variables>
</Flow>
