force-app/main/default/flows/Lead_AfterInsert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <decisions>
        <description>Se revisan los campos Uso y Actividad</description>
        <name>Campos_Uso_y_Actividad_rellenos</name>
        <label>Campos Uso y Actividad rellenos</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Uso__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Actividad__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>crear_Energia_Actual</targetReference>
            </connector>
            <label>Sí</label>
        </rules>
    </decisions>
    <description>03/04/2024 LCS-JCB Creación.</description>
    <environments>Default</environments>
    <interviewLabel>Lead AfterInsert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead AfterInsert</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Crear registro de energía actual con los valores de Actividad y Uso del Lead creado</description>
        <name>crear_Energia_Actual</name>
        <label>crear Energía Actual</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Actividad__c</field>
            <value>
                <elementReference>$Record.Actividad__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Candidato__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Uso__c</field>
            <value>
                <elementReference>$Record.Uso__c</elementReference>
            </value>
        </inputAssignments>
        <object>Energia_Actual__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Campos_Uso_y_Actividad_rellenos</targetReference>
        </connector>
        <object>Lead</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
