force-app/main/default/flows/Nueva_Lectura.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <decisions>
        <name>Is_valid_record</name>
        <label>Is valid record</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Invalid_Address_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Order Type is invalid</defaultConnectorLabel>
        <rules>
            <name>No_Address_Type_Condition</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>addressRecord.Tipo_de_direccion_de_envio__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Address_Type_Screen</targetReference>
            </connector>
            <label>No Address Type</label>
        </rules>
        <rules>
            <name>Has_Valid_Type</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>addressRecord.Tipo_de_direccion_de_envio__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BULK METERED</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>addressRecord.Tipo_de_direccion_de_envio__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>METERED</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Reading</targetReference>
            </connector>
            <label>Has Valid Type</label>
        </rules>
    </decisions>
    <interviewLabel>Nueva Lectura {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Nueva Lectura</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_new_record</name>
        <label>Create new record</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <inputAssignments>
            <field>Direccion_de_entrega__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lectura__c</field>
            <value>
                <elementReference>reading</elementReference>
            </value>
        </inputAssignments>
        <object>Lectura_contador__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Address_Record</name>
        <label>Get Address Record</label>
        <locationX>314</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_valid_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Direcci_n_de_entrega__c</object>
        <outputReference>addressRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Tipo_de_direccion_de_envio__c</queriedFields>
    </recordLookups>
    <screens>
        <name>Create_Reading</name>
        <label>Nueva Lectura</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_new_record</targetReference>
        </connector>
        <fields>
            <name>reading</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>0.0</numberValue>
            </defaultValue>
            <fieldText>Lectura</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Invalid_Address_Type</name>
        <label>Invalid Address Type</label>
        <locationX>578</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Invalid_Address_Type_Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;No se pueden crear pedidos para esta dirección de entrega.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Address_Type_Screen</name>
        <label>No Address Type Screen</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>No_Type_Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Esta dirección de entrega no tiene un tipo asignado.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Address_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>addressRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Direcci_n_de_entrega__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
