force-app/main/default/flows/UpdateStaggeOpportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <description>Comprueba si la oportunidad a la que está asociada la oferta está en etapa identificada</description>
        <name>EstadoIdentificadaOportunidadDecision</name>
        <label>¿La oportunidad tiene estado identificada?</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IdentificadaSI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Opportunity2__r.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Identificada</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateOpportunityEnNegociaci_n</targetReference>
            </connector>
            <label>Si Identificada</label>
        </rules>
    </decisions>
    <description>Al crear la oferta y si la oportunidad está en negociación se cambia a En negociación</description>
    <environments>Default</environments>
    <interviewLabel>Update Stagge Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Stagge Opportunity</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <description>Actualiza la oportunidad a En negociación</description>
        <name>UpdateOpportunityEnNegociaci_n</name>
        <label>UpdateOpportunityEnNegociación</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Negociación / Revisión</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>EstadoIdentificadaOportunidadDecision</targetReference>
        </connector>
        <object>SBQQ__Quote__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
