force-app/main/default/flows/UpdateOwner.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <description>Asignación de valor en el campo IBAN</description>
        <name>assignIBAN</name>
        <label>assignIBAN</label>
        <locationX>50</locationX>
        <locationY>731</locationY>
        <assignmentItems>
            <assignToReference>AccountToUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountToUpdate.IBAN__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.IBAN__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>evaluarSiActualizarCuenta</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Se asigna OwnerId</description>
        <name>assignOwnerId</name>
        <label>assignOwnerId</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>AccountToUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountToUpdate.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CompanySignedId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>evaluarIBAN</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Evaluamos el campo CompanySignedId</description>
        <name>evaluarCompanySignedId</name>
        <label>evaluar CompanySignedId</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>evaluarIBAN</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>estaInformadoCompanySignedId</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CompanySignedId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignOwnerId</targetReference>
            </connector>
            <label>estaInformado</label>
        </rules>
    </decisions>
    <decisions>
        <description>Evaluamos valor de IBAN</description>
        <name>evaluarIBAN</name>
        <label>evaluarIBAN</label>
        <locationX>182</locationX>
        <locationY>623</locationY>
        <defaultConnector>
            <targetReference>evaluarSiActualizarCuenta</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>estaInformado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IBAN__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignIBAN</targetReference>
            </connector>
            <label>estaInformado</label>
        </rules>
    </decisions>
    <decisions>
        <description>Se evalúa si se debe actualizar el registro de la Cuenta relacionada</description>
        <name>evaluarSiActualizarCuenta</name>
        <label>evaluarSiActualizarCuenta</label>
        <locationX>182</locationX>
        <locationY>923</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>siActualizarAccount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountToUpdate.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateAccount</targetReference>
            </connector>
            <label>siActualizar</label>
        </rules>
    </decisions>
    <description>Este flow actualizado el owner de cuenta cuando un contrato pasa al estado &apos;Activado&apos;. El valor que obtiene el campo owner es el mismo que el &quot;Firmado por la compañía&quot; del objeto Contrato. 
Version (2 - 3) - Se incluye comprobación de CompanySignedId != null, debido a que lanza error en tests; y se trata de un potencial fallo para el futuro.
02/6/2023 LCS-JCB: Se modifica condiciones para si el Contrato tiene IBAN informado tambien pase este campo a la Cuenta relacionada.</description>
    <environments>Default</environments>
    <interviewLabel>Actualizar Gestor de Cuenta cuando contrato pasa Activado {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Actualizar Gestor de Cuenta cuando contrato pasa Activado</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <description>Actualización de la cuenta relacionada</description>
        <name>updateAccount</name>
        <label>updateAccount</label>
        <locationX>50</locationX>
        <locationY>1031</locationY>
        <inputReference>AccountToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>evaluarCompanySignedId</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>1 AND 2 AND (3 OR 4)</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Activado</stringValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CompanySignedId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IBAN__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Contract</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>Variable que contiene la infomación de la Cuenta a actualizar</description>
        <name>AccountToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
